<body *ngIf="cartProducts.length > 0">

    <div style="text-align: center">

        <h2>Order Placed</h2>
        <h3>Order number: {{ randomNumber }}</h3>
    </div>
    <table style="margin: auto;text-align: center">
        <tr>
            <th>Sr no.</th>
            <th>Title</th>
            <th>price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        <tr *ngFor="let product of cartProducts;let i = index">
            <td>{{i + 1 }}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}$</td>
            <td>{{product.quantity}}</td>
            <td>{{ product.price *  product.quantity }}$</td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: left"><b>Total</b></td>
            <td colspan="2" style="text-align: right">{{overalltotal}}$</td>
        </tr>
    </table>
    <div style="text-align: center">
        <button (click)="goToHome()" class="btn btn-primary">CheckOut</button>
    </div>



</body>